In [2]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
#Q1. List any five functions of the pandas library with execution.

In [5]:
df=pd.read_csv("services.csv")

In [6]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [7]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df[['audience']]

                                             audience
0   Older adults age 55 or over, ethnic minorities...
1        Residents of San Mateo County age 55 or over
2   Older adults age 55 or over who can benefit fr...
3   Parents, children, families with problems of c...
4   Low-income working families with children tran...
5                                             Any age
6   Older adults who have memory or sensory loss, ...
7   Senior citizens age 60 or over, disabled indiv...
8      Ethnic minorities, especially Spanish speaking
9                                                 NaN
10                                                NaN
11  Adults, parents, children in 1st-12th grades i...
12                                                NaN
13  Individuals or families with low or no income ...
14  Adult alcoholic/drug addictive men and women w...
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

In [10]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [11]:
type(df[['status']])

pandas.core.frame.DataFrame

In [12]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
#DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
df3 = pd.DataFrame([['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']], columns=['Name', 'Age', 'Gender'])
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
df3[['Name', 'Age', 'Gender']][1:4]

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

In [15]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
#iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
#function should print the sum to the console.

In [16]:
df4 = pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
print(df4)
total = df4["Values"].iloc[:3].sum()
print("___ANSWER___")
print(total)

   Values
0      10
1      20
2      30
3      40
4      50
___ANSWER___
60

In [17]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

SyntaxError: invalid syntax (1329996456.py, line 1)

In [19]:
df3 = pd.DataFrame([['Female'],['Male'],['Female']], columns=[ 'Text'])
df3

     Text
0  Female
1    Male
2  Female

In [20]:
df3['Word_Count']=df3['Text']
df3

     Text Word_Count
0  Female     Female
1    Male       Male
2  Female     Female

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?
Ans:-The shape of a DataFrame is a tuple of array dimensions that tells the number of rows and columns of a given DataFrame. The DataFrame. shape attribute in Pandas enables us to obtain the shape of a DataFrame.

In [ ]:
Q6. Which function of pandas do we use to read an excel file?
Ans:-We can use the pandas module read_excel() function to read the excel file data into a DataFrame object

In [ ]:
You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [4]:
import pandas as pd
n=input("pleas inter the email")
df=pd.DataFrame({'email':["n"]})
df=n
print(df)

pleas inter the email alaskua@gamail.com

alaskua@gamail.com

In [17]:
import pandas as pd

def extract_username(df):
    # Create a new 'Username' column by splitting the 'Email' column on the '@' symbol
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
# Assuming that your Pandas DataFrame `df` has a column 'Email' with email addresses in the format 'username@domain.com'
df = extract_username(df)

KeyError: 'Email'

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [12]:
import pandas as pd
df = pd.DataFrame({'A':[3,8,6,2,5], 'B':[5,2,9,3,1],'C':[1,7,4,5,6]})
print(df)
print("'A' is greater than 5")
df[df['A']>5] 

df[df['B']<3]
print(" 'B' is less than 10")
new_col=df[df['A']>5] +df[df['B']<3]

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  5  1  6
'A' is greater than 5
 'B' is less than 10

In [13]:
new_col

      A    B     C
1  16.0  4.0  14.0
2   NaN  NaN   NaN
4   NaN  NaN   NaN

In [ ]:
9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [16]:
import pandas as pd
s=pd.DataFrame({'A':[4,5,4,8,4,7,4],'B':[4,7,4,5,4,8,6]})
print(s)
print("Original Data Series:")
print(s)
print("Mean of the said Data Series:")
print(s.mean())
print("Standard deviation of the said Data Series:")
print(s.std())

   A  B
0  4  4
1  5  7
2  4  4
3  8  5
4  4  4
5  7  8
6  4  6
Original Data Series:
   A  B
0  4  4
1  5  7
2  4  4
3  8  5
4  4  4
5  7  8
6  4  6
Mean of the said Data Series:
A    5.142857
B    5.428571
dtype: float64
Standard deviation of the said Data Series:
A    1.676163
B    1.618347
dtype: float64

In [21]:
import pandas as pd
df=pd.DataFrame({'DATE':[ "2023-01-01", "2023-01-02","2023-01-03" ,"2023-01-04", " 2023-01-05"],'Weekday':[" Sunday","Monday","  Tuesday"," Wednesday","  Thursday"]})
print(df)

          DATE     Weekday
0   2023-01-01      Sunday
1   2023-01-02      Monday
2   2023-01-03     Tuesday
3   2023-01-04   Wednesday
4   2023-01-05    Thursday

In [20]:
import pandas as pd
df=pd.DataFrame({'DATE':[ "2023-01-01", "2023-01-02","2023-01-03" ,"2023-01-04", " 2023-01-05"],'':[" Sunday","Monday","  Tuesday"," Wednesday","  Thursday"]})
print(df)

          DATE           B
0   2023-01-01      Sunday
1   2023-01-02      Monday
2   2023-01-03     Tuesday
3   2023-01-04   Wednesday
4   2023-01-05    Thursday

In [ ]:

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [24]:
import pandas as pd
df12=pd.DataFrame(data=['2023-01-02 09:15:00','2023-03-02 15:25:02','2023-03-02 15:45:00','2023-01-02 05:55:00','2023-03-02 05:55:00'],columns=['Date'])

df12['Date'] = pd.to_datetime(df12['Date'])
df12['Date'].dt.date
start_date = '2023-01-01'
end_date = '2023-01-31'

date_range = pd.date_range(start=start_date, end=end_date)

for i in df12['Date'].dt.date:
    if i in date_range:
        print(i)

In [ ]:
13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?
Ans:- import pandas as pd